.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/arduino.json

# python
py/*
!py/*.py

config.ini

# Kicad
**/kicad/*
!**/kicad/gerber
!**/kicad/*.kicad_pcb
!**/kicad/*.kicad_pro
!**/kicad/*.kicad_sch
